<div>
    <nav>
        <ul>
            <li>Actualité</li>
            <li>Danseurs</li>
            <li>Boutique</li>
        </ul>
    </nav>
    <form method="post">
        <span class="help">
            <span>Inscrivez-vous !</span>
            Pour être tenu au courant et reçevoir les dernières actus.
        </span>
        <input type="email" name="email" placeholder="Adresse Email">
        <input type="submit" value="Soumettre">
    </form>
</div><p>
    <span class="dashicons-calendar"></span> Le 12 avril 2016 - 16h à 18h
</p>