<section class="subpage default-subpage red">
    <h1>
        <img src="" alt="SuperStar Battle">
    </h1>

    <p>

    </p>

    <article class="info-container">
        <header>
            <span class="date">12 Avril <span class="year">2016</span></span>
        </header>
        <p>
            <span class="icon-location"></span> Boulevard de Bercy, 75012 Paris
        </p>

        <p>
            <span class="icon-calendar"></span> Le 12 avril 2016 - 16h à 18h
        </p>

        <p>
            <span class="icon-ticket"></span> à partir de 19€ TTC
        </p>
        <a href="#">Voir le trailer</a>
    </article>

</section>
